@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
    .header_top__icon_wrapper {
        @apply bg-gray-200 rounded-full p-3 cursor-pointer hover:text-white hover:bg-gray-400
    }

    .navbar__link {




        @apply relative text-gray-700 tracking-wider   cursor-pointer p-3  left-20;
        background:
            linear-gradient(to right, rgb(248, 145, 145) 0%, transparent 100%) top,
            linear-gradient(to right, rgb(161, 243, 136) 0%, transparent 200%) bottom,
            linear-gradient(to bottom, rgb(92, 162, 236) 0%, transparent 100%) left,
            linear-gradient(to bottom, rgba(247, 50, 218, 0.886) 0%, transparent 100%) right;
        background-repeat: no-repeat;
        background-size: 0 1px, 0 1px, 1px 0, 1px 0;
        transition: all 0.4s ease;
    }

    .navbar__link:hover {
        color: gold;
        transition: all0.4;
        background-size: 100% 3px, 100% 3px, 3px 100%, 3px 100%;
    }

}

.product-image {
  @apply w-full max-w-[280px] mx-auto;

  height: auto;

    top: 10px;
    width: 200px;  /* افزایش عرض برای ایجاد فاصله بیشتر */
  /* height: 320px;  افزایش ارتفاع برای ایجاد فاصله بیشتر */
    margin-bottom: 30px;
    transition: transform 0.3s ease;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.564);
    background-color: #bbbbeb1f; /* بک‌گراند روشن */
    display:flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .product-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  
  .product-image:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(169, 217, 72, 0.262);
  }
  
  footer {
    background-color: #2d3748; /* رنگ پس‌زمینه */
    color: #fff; /* رنگ متن */
    padding: 2rem 0; /* فاصله داخلی */
  }
  
  footer a {
    color: #fff;
    margin: 0 1rem;
    transition: color 0.3s ease;
  }
  
  footer a:hover {
    color: #63b3ed; /* تغییر رنگ در هنگام هاور */
  }
  
  footer img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
  }
  
  footer img:hover {
    transform: scale(1.2); /* انیمیشن بزرگنمایی آیکون‌ها هنگام هاور */
  }
  .product-header {
    @apply bg-gradient-to-r from-blue-500 via-purple-500 to-pink-500 p-8 flex justify-center items-center;
  }
  
  .promo-text {
    @apply text-white text-3xl font-bold text-center;
  }
  